<%@ Master Language="C#" MasterPageFile="~/masterpages/ForumMaster.master" AutoEventWireup="true" %>

<asp:content ContentPlaceHolderId="forumhead" runat="server">
    <umbraco:Macro Alias="nForumEditorIncludes" runat="server"></umbraco:Macro>
</asp:content>

<asp:content ContentPlaceHolderId="ForumBody" runat="server">
   <umbraco:DisableRequestValidation runat="server"/>
    <umbraco:Macro Alias="nForumCreateNewTopicForm" runat="server"></umbraco:Macro>
  
</asp:content>