<%@ Master Language="C#" MasterPageFile="~/masterpages/ForumMaster.master" AutoEventWireup="true" %>

<asp:content ContentPlaceHolderId="forumhead" runat="server">
  
</asp:content>

<asp:content ContentPlaceHolderId="ForumBody" runat="server">
  <umbraco:Macro Alias="nForumMoveTopic" runat="server"></umbraco:Macro>
</asp:content>