<%@ Master Language="C#" MasterPageFile="~/masterpages/ForumMaster.master" AutoEventWireup="true" %>
  

<asp:Content ContentPlaceHolderId="ForumBody" runat="server">
  <umbraco:Macro Alias="nForumSearchResults" runat="server"></umbraco:Macro>
</asp:Content>