<%@ Master Language="C#" MasterPageFile="~/masterpages/ForumMaster.master" AutoEventWireup="true" %>

<asp:content ContentPlaceHolderId="forumhead" runat="server">
  
</asp:content>

<asp:content ContentPlaceHolderId="ForumBody" runat="server">
    <h1>Your Topics</h1>
    <umbraco:Macro Alias="nForumParticipatedTopics" runat="server"></umbraco:Macro>
</asp:content>