<?xml version="1.0" encoding="utf-8"?>
<metablogapi>
  <channel>
    <name>raggedracing.com</name>
    <user>0</user>
    <startNode>1057</startNode>
    <fullTree>True</fullTree>
    <documentTypeAlias>umbBlogPost</documentTypeAlias>
    <fields>
      <categories>tags</categories>
      <description>bodyText</description>
      <excerpt>teaser</excerpt>
    </fields>
    <mediaObjectSupport enabled="True" folderId="-1" mediaTypeAlias="image" mediaTypeFileProperty="umbracoFile" />
  </channel>
  <channel>
    <name>adminblog</name>
    <user>1</user>
    <startNode>1057</startNode>
    <fullTree>True</fullTree>
    <documentTypeAlias>umbBlogPost</documentTypeAlias>
    <fields>
      <categories>tags</categories>
      <description>bodyText</description>
      <excerpt>
      </excerpt>
    </fields>
    <mediaObjectSupport enabled="True" folderId="1586" mediaTypeAlias="image" mediaTypeFileProperty="umbracoFile" />
  </channel>
</metablogapi>